<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MinecraftEnchantCalculator.Resources.Settings.LanguageKey" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MinecraftEnchantCalculator.Resources.Sqlite.SqliteConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MinecraftEnchantCalculator.Resources.Settings.LanguageKey>
      <setting name="EnchantedBook" serializeAs="String">
        <value>EnchantedBook</value>
      </setting>
      <setting name="FeasibleYes" serializeAs="String">
        <value>FeasibleYes</value>
      </setting>
      <setting name="FeasibleNo" serializeAs="String">
        <value>FeasibleNo</value>
      </setting>
      <setting name="Welcome" serializeAs="String">
        <value>Welcome</value>
      </setting>
      <setting name="CalculatePressed" serializeAs="String">
        <value>CalculatePressed</value>
      </setting>
      <setting name="AddFavoriteSuccess" serializeAs="String">
        <value>AddFavoriteSuccess</value>
      </setting>
      <setting name="FavoriteNameDiscard" serializeAs="String">
        <value>FavoriteNameDiscard</value>
      </setting>
      <setting name="FavoriteNameInputClosed" serializeAs="String">
        <value>FavoriteNameInputClosed</value>
      </setting>
      <setting name="DeleteFavoriteFailed" serializeAs="String">
        <value>DeleteFavoriteFailed</value>
      </setting>
      <setting name="DeleteFavoriteSuccess" serializeAs="String">
        <value>DeleteFavoriteSuccess</value>
      </setting>
      <setting name="FavoriteSelectChanged" serializeAs="String">
        <value>FavoriteSelectChanged</value>
      </setting>
      <setting name="AddFavoriteFailed" serializeAs="String">
        <value>AddFavoriteFailed</value>
      </setting>
      <setting name="LoadFavoriteFailed" serializeAs="String">
        <value>LoadFavoriteFailed</value>
      </setting>
      <setting name="FavoriteHasPresent" serializeAs="String">
        <value>FavoriteHasPresent</value>
      </setting>
      <setting name="LoadFavoriteSuccess" serializeAs="String">
        <value>LoadFavoriteSuccess</value>
      </setting>
    </MinecraftEnchantCalculator.Resources.Settings.LanguageKey>
    <MinecraftEnchantCalculator.Resources.Sqlite.SqliteConfig>
      <setting name="Items" serializeAs="String">
        <value>SELECT {0}, {1} FROM Items</value>
      </setting>
      <setting name="Applicable" serializeAs="String">
        <value>SELECT {0}, {1} FROM Applicable</value>
      </setting>
      <setting name="Conflicts" serializeAs="String">
        <value>SELECT {0}, {1} FROM Conflicts</value>
      </setting>
      <setting name="Enchantments" serializeAs="String">
        <value>SELECT {0}, {1}, {2}, {3}, {4} FROM Enchantments</value>
      </setting>
      <setting name="ResourcesDir" serializeAs="String">
        <value>Resources</value>
      </setting>
      <setting name="SqliteDir" serializeAs="String">
        <value>Sqlite</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>MC_ENCHANTMENTS.db</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source={0};Version=3</value>
      </setting>
    </MinecraftEnchantCalculator.Resources.Sqlite.SqliteConfig>
  </applicationSettings>
  <appSettings>
    <add key="LocationInfo" value="zh-CN"></add>
    <add key="Version" value="1.0.0"></add>
    <add key="Applicable" value="SELECT ItemCode, EnchantmentCode FROM Applicable"></add>
    <add key="Conflicts" value="SELECT EnchantmentCode_1, EnchantmentCode_2 FROM Conflicts"></add>
    <add key="Enchantments" value="SELECT Code, CultureKey, MaxLevel, ItemMultiplier, BookMultiplier FROM Enchantments"></add>
    <add key="Items" value="SELECT Code, CultureKey FROM Items"></add>
  </appSettings>
</configuration>